@{
    ViewBag.Title = "About";
}


<div style="width: 50%; text-align: justify;background: #00634D;", class="well well-sm">
    
    <font color="white"> 
        <h2>@ViewBag.Title.</h2>
    </font>

    <font color="white">
        <p>
            This application is meant to give students an idea on which classes they should take next
            semester based on the courses they’ve already taken, in order to better organize their academic progress.
        </p>
    </font>
</div>
