@{
    ViewBag.Title = "Contact";
}
<div style="width: 40%; text-align: left; background: #00634D;", class="well well-sm">
    <font color="white">
        <h2>@ViewBag.Title.</h2>
        <p>@ViewBag.Message</p>
    </font>
</div>

<address>
    500 Dr.John Will Harris Street<br />
    Bayamon, PR 00957<br />
    <abbr title="Phone">P:</abbr>
    787-279-1912
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:crivera4398@interbayamon.edu">crivera4398@interbayamon.edu</a><br />
    @*@<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
