@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" , style="background: #00634D;">
    <font color="white"> <h1>Welcome to the Engineering Course Advisor</h1> </font>
    <font color="white"><p class="lead">Esta aplicacion es para el proyecto de la clase de base de datos</p> </font>
    <p><a class="btn btn-success" onclick="window.open('http://www.bayamon.inter.edu/', '_blank')" , style="background: #CCCC00;">Inter Bayamon &raquo;</a></p>
</div>
