
@{
    ViewBag.Title = "Curriculum";
}

<h2>Curriculum</h2>

<hr/>

<select>

    <option value="COEN">Computer Engineering</option> <!--En el value es que va el Post de la base de datos -->
    <option value="ELEN">Electrical Engineering</option>
    <option value="INGE">Industrial Engineering</option>
    <option value="MEEN">Mechanical Engineering</option>

</select>
<input type="submit" value="Submit">

